html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,iframe,em{margin:0;padding:0;border:0;}
img{border:0 none;vertical-align:middle;}
ul,li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:14px;}
body{background:#FFF;color:#464646;line-height:1.2;-hakit-text-size-adjust:100%;}
body,input,select,button,textarea{font-size:12px;font-family:Tahoma,Geneva,sans-serif;}
body,input,select,button,textarea{font:12px "宋体","新宋体","Arial","Arial Narrow",HELVETICA;}
input,select,button,label,select,textarea{vertical-align:middle;margin:0;padding:0;}
a,button{cursor:hand;}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word}
button{cursor:pointer;}
i,em,cite{font-style:normal;}
a,a:link{color:#464646;text-decoration:none;}
a:visited{}
a:hover,a:active{text-decoration:underline;}
a:hover{color:#df0024}
a:focus{outline:none;} 
.clear{diplay:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0 margin:0 auto!important;padding:0!important;font-size:0;line-height:0;}
.more{float:right;}
.more a{font-weight:normal;font-size:12px;}
.fl, .fr{display:inline;float:left;}
.fr {float:right;}
.center{margin-right:auto;margin-left:auto;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs18{font-size:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh24nw li{line-height:24px;height:24px;overflow:hidden;}
.lh24n{line-height:24px;height:24px;overflow:hidden;}
.lh26{line-height:26px;}
.lh26nw li{line-height:26px;height:26px;overflow:hidden;}
.lh28{line-height:28px;}
.lh28nw li{line-height:28px;height:28px;overflow:hidden;}
.mt8{margin-top:8px;}
.mt12{margin-top:12px;}
.pd4{padding:4px;}
.pd8{padding:8px;}
.fb{font-weight:bold;}
.fnb{font-weight:200;margin-left:-1px}
.fyh{font-family:"微软雅黑","黑体";}
.fc0{color:#000;}/*黑*/
.fchot,.fchot a,.fchot a:link,.fchot a:visited,.fchot:link,.fchot:visited{color:#df0024;}/*红*/
.fcf93,.fcf93 a,.fcf93 a:link,.fcf93 a:visited,.fcf93:link{color:#ff6600;}/*橙*/
.fcbl,.fcbl a,.fcbl a:link,.fcbl a:visited,.fcbl:link{color:#015793;}/*蓝*/
.dpn{display:none;}
.nw{white-space:nowrap;}.ofh{overflow:hidden;}.re{position:relative;}.as{position:absolute;}
.w1100{width:1100px;}.w960{width:960px;}.w300{width:300px;}.w330{width:330px;}.w645{width:645px;}.w685{width:685px;}.w260{width:260px;}.w370{width:370px;}

.ico1 li,.ico2 li,.htnav,.hfzbox,.hfzbox1_dt,.htnav_hot,.h_user_login,.h_user_zc,.h_killad1 b,.h_killad2 b,.htfzdiv_3g,.hb_ssfrom,.ht_navtab li a.ht_navtab_hover,.ht_navtab li a:hover,.ht_navtab li a:active,.hb_ssfrom_r,.hb_ssfrom_l,.sstextbox_s,.ssbtn,.ssbtn:link,.ssbtn:visited,.ssbtn:hover,.ssbtn:active,.hkftgdiv dt,.h_gfdjbox,.h_gfdjbox_r,.h_gfdjbox_l,.h_gfdjbox_cttag,.h_gfdjbox_ctqq b,.h_gfdjbox_ctcall b,.h_btn1,.h_usdiv_tbtn label,.h_tabdiv1 dt,.h_tabdiv2 dt,.h_tabdiv3 dt,.h_tabdiv4 dt,.h_tabdiv4 dt span.h_tabdiv4_hover,.h_fytab_p,.h_fytab_a,.h_fytab_h,.h_fytab_n,.h_zfcar_lbmbtn b,.h_zfcar_lbmbtns b,.h_newlmdiv_1 b,.h_newlmdiv_2 b,.h_newlmdiv_3 b,.h_newlmdiv_4 b,.h_newlmdiv_1:hover b,.h_newlmdiv_2:hover b,.h_newlmdiv_3:hover b,.h_newlmdiv_4:hover b,.h_blmbox,.h_blmbox span.h_blmbox_dt2,.h_blmbox span.h_blmbox_dt3,.h_blmbox span.h_blmbox_dt4,.h_blmbox span.h_blmbox_dt5,.h_blmbox span.h_blmbox_dt6,.h_slmbox,.h_slmbox span.h_slmbox_dt4,.h_slmbox span.h_slmbox_dt5,.h_slmbox span.h_slmbox_dt6,.h_gfhelpbtn b,.h_gftool1 b,.h_gftool2 b,.h_gftool3 b,.h_gftool4 b,.h_lpyhul_bg,.h_sxbssdiv .ssbtns,.h_ezbtndiv_tbtn label,.h_fcphlistdd div p.h_fcphlistt,.h_fcphdivul{background:url(images/bg.gif);}
.ico1 li{padding-left:14px;background-position:0 -1641px;background-repeat:no-repeat;}
.ico2 li{padding-left:14px;background-position:0 -1686px;background-repeat:no-repeat;}
.htnav{background-position:0 0;height:32px;line-height:32px;}
.htnav a{margin:0 3px;float:left;}
.hfzbox{width:75px;height:19px;margin:6px 6px 0;background-position:0 -86px;}
.hfzbox1{width:75px;margin:6px 6px 0;position:relative;}
.hfzbox1_dt{background-position:-79px -86px;height:19px;}
.hfzbox1_list{position:absolute;border:1px solid #dcdada;background:#fdfdfd url(images/hfzbg_1.gif) top left no-repeat;padding:6px 14px;left:0px;top:19px;border-top:none;width:370px;z-index:9999;}
.hfzbox1_list p{clear:both;line-height:26px;font-family:Arial;height:26px;}
.hfzbox1_list p span{color:#FF6600;float:left;font-weight:bold;width:23px;margin-right:10px;text-align:left;}
.hfzbox1_list p a,.hfzbox1_list p a:visited{white-space:nowrap;margin:0 3px;color:#336699;line-height:26px;}
.htnav_phone1,.htnav_phone1:link,.htnav_phone1:visited,.htnav_phone1:hover,.htnav_phone1:active{color:#2b72a3;font-weight:bold;margin:0 5px 0 8px;height:27px;line-height:14px;_line-height:10px;}
.htnav_hot{height:9px;width:17px;background-position:-285px -86px;display:block;position:relative;top:1px;top:2px \9;*top:2px;left:58px;}
.h_user{width:200px;height:28px;text-align:right;}
.h_user_login{border:none;background-position:0 -60px;width:58px;height:22px;margin:5px 3px;}
.h_user_zc{border:none;background-position:-61px -60px;width:84px;height:22px;margin:5px 3px;}
.h_killad1 b{border:none;display:block;cursor:pointer;width:72px;height:22px;background-position:0 -35px;margin-top:4px;}
.h_killad2{border:none;display:block;cursor:pointer;width:72px;height:22px;background-position:-77px -35px;margin-top:4px;}
.htbox{height:114px;margin-top:5px;}
.htlogo{width:278px;height:114px;background:url(images/logo.gif) bottom left no-repeat;}
.hlogo b{border:none;display:block;cursor:pointer;width:188px;height:100px;margin-top:14px;}
.htfzdiv{margin-top:38px;width:88px;height:74px;}
.htfzdiv_3g{border:none;display:block;background-position:-154px -66px;padding-left:20px;height:17px;margin:10px 0 0 10px;line-height:18px;}
.htfzdiv_3g b{font-weight:normal;color:#006699;}
.htfzdiv a.htfzdiv_3g:hover{font-weight:normal;color:#006699;}
.htssdiv{height:114px;width:668px;}
.ht_navtab{padding:0 2px;}
.ht_navtab li{float:left;}
.ht_navtab li a,.ht_navtab li a:visited{display:block;position:relative;top:1px;width:72px;height:33px;text-align:center;font-size:14px;color:#000;line-height:33px;text-decoration:none;}
.ht_navtab li a.ht_navtab_hover,.ht_navtab li a:hover,.ht_navtab li a:active{background-position:0 -108px;font-weight:bold;color:#fff;}
.ht_navtab li a.ht_navtab_hover:visited{color:#fff;}
.hb_ssfrom{background-position:0 -223px;width:668px;height:82px;clear:both;}
.hb_ssfrom_r{width:6px;height:82px;background-position:-16px -141px;}.hb_ssfrom_l{width:6px;height:82px;background-position:0 -141px;}
.hb_ssfrom_c{width:656px;height:81px;}
.hb_ssfrom_cbox{width:646px;height:35px;margin:10px 4px;}
.sstextbox_s{float:left;height:33px;background:#fff url(images/hssbg.gif) right no-repeat;padding:0 32px 0 8px;line-height:33px;font-size:14px;color:#8e8e8e;position:relative;border:1px solid #9dacc7;margin-left:4px;}
.sstextbox_s_list{position:absolute;border:1px solid #c7d7e7;background:#fff;top:33px;left:-1px;padding:4px; z-index:99999;}
.sstextbox_s_list a,.sstextbox_s_list a:visited{color:#2b72a3;margin:0 2px;white-space:nowrap;float:left;text-decoration:none;line-height:22px;padding:0 4px;}
.sstextbox_s_list a:hover{background:#d7e5f3;}
.sstextbox_s_list a:active{color:#003366;}.sstextbox_s_list_p a{clear:both;}
.sstextbox_stext{float:left;border:0;height:33px;line-height:33px;font-size:14px;color:#8e8e8e;padding:0 8px;margin-left:4px;border:1px solid #9dacc7;}
.ssbtn,.ssbtn:link,.ssbtn:visited{float:left;display:block;width:63px;height:35px;background-position:-146px -108px;cursor:pointer;color:#fff;text-align:center;line-height:35px;font-size:14px;}
.ssbtn:hover{background-position:-213px -108px;color:#fff;text-decoration:none;}
.ssbtn:active{background-position:-79px -108px;color:#fff;}
.hot_ssp{line-height:18px;padding:0 4px;}
.hot_ssp b{color:#FF6600;}
.hot_ssp a,.hot_ssp a:visited{color:#7aa9c9;margin:0 8px;}
.hallnavbg{margin-top:10px;}
.hallnavbg,.hw1100navbg,.hallnav{height:76px;}
.hallnavbg{background:url(images/navbg_01.gif);width:auto;}
.hw1100navbg{background:url(images/navbg_02.gif) top no-repeat;padding-top:1px;}
.hallnav{background:url(images/navbg_02.gif)center no-repeat;}
.ha_navul li{float:left;height:60px;background:url(images/navbg_03.gif) left no-repeat;padding:8px 5px 8px 5px;width:auto;}
.ha_navul li strong{font-family:"微软雅黑","黑体";font-size:16px;vertical-align:middle;float:left;text-align:center;line-height:20px;font-weight:normal;}
.ha_navul li strong span{margin-top:10px;width:32px;display:block;}
.ha_navul li strong span.ha_navul_strong_esf{margin-top:1px;}
.ha_navul li strong a,.ha_navul li strong a:visited{color:#FF0;text-decoration:none;}
.ha_navul li strong a:hover{color:#FFC;}
.ha_navul li p{white-space:nowrap;}
.ha_navul li p a,.ha_navul li p a:visited{line-height:20px;color:#fff;margin:0 8px;text-decoration:none;}
.ha_navul li p a:hover,.ha_navul li p a:active{color:#FFC;text-decoration:underline;}
.ha_navul li.ha_navul_f{background:none;}
.hkftgdiv{height:394px;}
.hkftgdiv dl{border:1px solid #d1dadf;}
.hkftgdiv dt{height:41px;background-position:0 -307px;padding:0 6px;line-height:41px;}
.hkftgdiv dt span{font-family:"微软雅黑","黑体";font-size:20px;}.hkftgdiv dd{height:335px;}
.hkftgdiv dd ul{margin:2px 0;}
.hkftgdiv_in label{display:block;cursor:pointer;background:#ff3300;color:#fff;padding:0 4px;line-height:20px; margin-top:4px;}
.hkftgdiv a.hkftgdiv_in{text-decoration:none;}.hkftgdiv a.hkftgdiv_in label:hover{color:#FF0;}
.hkftgdiv_out label{display:block;cursor:pointer;background:#939393;color:#fff;padding:0 4px;line-height:20px; margin-top:4px;}
.hkftgdiv a.hkftgdiv_out{text-decoration:none;}
.h_flpic{border:1px solid #ccc;width:643px;height:296px;}
.h_gfdjbox{height:88px;background-position:0 -442px;}
.h_gfdjbox_r{width:8px;height:88px;background-position:-22px -351px;}
.h_gfdjbox_l{width:8px;height:88px;background-position:0 -351px;}
.h_gfdjbox_c{width:629px;height:88px;}.h_gfdjbox_ct{height:37px;margin-top:7px;position:relative;}
.h_gfdjbox_cttag{width:112px;height:28px;background-position:-190px -351px;position:absolute;left:-10px;}
.h_gfdjbox_ctc{padding:8px 4px 0 108px;}
.h_gfdjbox_ctqq b{display:block;cursor:pointer;width:92px;height:22px;background-position:-96px -357px;}
.h_gfdjbox_ctcall b{display:block;cursor:pointer;width:160px;height:31px;background-position:-49px -395px;}
.h_gfdjbox_cb{height:40px;line-height:40px;}.h_inp1{height:18px;line-height:18px;padding:5px 6px;margin:6px 8px 0 0;border:1px solid #e2e3ea;border-top:1px solid #999;}
.h_btn1{display:block;border:none;cursor:pointer;width:88px;height:30px;background-position:-214px -395px;margin-top:5px;}
.h_usdiv{width:280px;height:96px;border:2px solid #8eb1da;padding:8px;padding-top:0;}
.h_usdiv_t{border-bottom:1px dashed #d1d1d1;height:31px;line-height:31px;margin-bottom:3px;}
.h_usdiv_tbtn label{display:block;cursor:pointer;width:74px;height:22px;color:#fff;text-align:center;background-position:-79px -146px;line-height:22px;margin:4px 12px 0 0; }
.h_usdiv_t a.h_usdiv_tbtn{text-decoration:none;}
.h_usdiv_b a img{width:58px;height:58px;margin:4px 8px 0 0;}
.h_bttdiv{width:629px;height:92px;border:2px solid #8eb1da;padding:6px;}
.h_bttdiv_l{width:550px;height:90px;}
.h_bttdiv_ltt{font-family:"微软雅黑","黑体";font-size:30px;color:#000;text-align:center;width:546px;height:58px;line-height:58px;}
.h_bttdiv_lts{text-align:center;width:546px;height:33px;line-height:33px;}.h_bttdiv_lts a{margin:0 8px;}
.h_flimgs{width:300px;height:176px;}
.h_tabdiv1{}
.h_tabdiv1 dt{background-position:0 -605px;height:32px;line-height:32px;border-top:1px solid #6d92c0;}
.h_tabdiv1 dt span{font-family:"微软雅黑","黑体";font-size:14px;display:block;width:150px;text-align:center;float:left;cursor:pointer;}
.h_tabdiv1 dt span.h_tabdiv1_hover{background:#fff;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;font-weight:bold;width:148px;}
.h_tabdiv2{}
.h_tabdiv2 dt{background-position:0 -532px;height:35px;line-height:35px;border-top:1px solid #ccd7e2;border-left:1px solid #ccd7e2;_overflow:hidden;}
.h_tabdiv2 dt span{font-family:"微软雅黑","黑体";font-size:18px;display:block;width:122px;text-align:center;float:left;border-top:1px solid #ccd7e2;border-right:1px solid #ccd7e2;color:#999;position:relative;top:-1px;cursor:pointer;}
.h_tabdiv2 dt span.h_tabdiv2_hover{background:#fff;border-top:2px solid #82a7d5;position:relative;top:-3px;height:36px;line-height:36px;color:#000;}
.h_tabdiv3{}
.h_tabdiv3 dt{background-position:0 -1305px;height:32px;line-height:32px;_line-height:31px;border-left:1px solid #dbdbdb;overflow:hidden;}
.h_tabdiv3 dt span{font-family:"微软雅黑","黑体";font-size:14px;display:block;width:98px;text-align:center;float:left;border-top:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;background:#f3f3f3;height:30px;line-height:30px;cursor:pointer;}
.h_tabdiv3 dt span.h_tabdiv3_hover{background:#fff;border-top:2px solid #82a7d5;font-weight:bold;height:30px;line-height:30px;border-bottom:1px solid #fff;color:#000;}
.h_tabdiv4{}
.h_tabdiv4 dt{background-position:0 -1306px;height:32px;line-height:32px;}
.h_tabdiv4 dt span{font-family:"微软雅黑","黑体";font-size:14px;display:block;width:72px;text-align:center;float:left;cursor:pointer;}
.h_tabdiv4 dt span.h_tabdiv4_hover{background-position:0 -1341px;font-weight:bold;}

.h_ofhbox1{width:280px;}.h_fytab{height:14px;padding-left:20%;}.h_fytab_p,.h_fytab_a,.h_fytab_h,.h_fytab_n{margin:0 2px;display:inline;}
.h_fytab_p{width:12px;height:14px;background-position:-226px -195px;}
.h_fytab_h{width:24px;height:14px;background-position:-239px -195px;}
.h_fytab_a{width:24px;height:14px;background-position:-265px -195px;}
.h_fytab_n{width:12px;height:14px;background-position:-290px -195px;}
.h_zfcar{border-bottom:1px dashed #d1d1d1;height:86px;}.h_zfcar a img{width:140px;height:76px;margin:0 10px 10px 0;float:left;}
.h_zfcar_list{}.h_zfcar_listl{width:210px;}
.h_zfcar_listl .h_zfcar_listl_p1,.h_zfcar_listl .h_zfcar_listl_p2{display:block;}
.h_zfcar_listl .h_zfcar_listl_p1{width:88px;overflow:hidden;float:left;}.h_zfcar_listl .h_zfcar_listl_p2{width:118px;overflow:hidden;float:right;}
.h_zfcar_lbmbtn b{width:69px;height:18px;background-position:-151px -191px;display:block;cursor:pointer;}
.h_zfcar_lbmbtns b{width:57px;height:18px;background-position:-78px -191px;display:block;cursor:pointer;}
.h_czxbdb{border-bottom:1px dashed #d1d1d1;}
.h_czxullist1{padding:8px 0;}
.h_newlmdiv{}
.h_newlmdiv_1 b,.h_newlmdiv_2 b,.h_newlmdiv_3 b,.h_newlmdiv_4 b{display:block;cursor:pointer;width:127px;height:59px;margin-top:12px;}
.h_newlmdiv_1 b{background-position:0 -998px;}
.h_newlmdiv_2 b{background-position:-128px -998px;}
.h_newlmdiv_3 b{background-position:0 -1058px;}
.h_newlmdiv_4 b{background-position:-128px -1058px;}
.h_newlmdiv_1:hover b{background-position:0 -1379px;}
.h_newlmdiv_2:hover b{background-position:-128px -1379px;}
.h_newlmdiv_3:hover b{background-position:0 -1439px;}
.h_newlmdiv_4:hover b{background-position:-128px -1439px;}

.h_blmbox{}.h_blmbox{background-position:0 -647px;height:42px;line-height:42px;}
.h_blmbox span.h_blmbox_dt2,.h_blmbox span.h_blmbox_dt3,.h_blmbox span.h_blmbox_dt4,.h_blmbox span.h_blmbox_dt5,.h_blmbox span.h_blmbox_dt6{height:42px;width:300px;font-family:"微软雅黑","黑体";font-size:24px;display:block;padding-left:6px;background-repeat:no-repeat;}
.h_blmbox span.h_blmbox_dt2{background-position:0 -746px;}
.h_blmbox span.h_blmbox_dt3{background-position:0 -847px;}.h_blmbox span.h_blmbox_dt3s{font-size:18px;}
.h_blmbox span.h_blmbox_dt4{background-position:0 -697px;}
.h_blmbox span.h_blmbox_dt5{background-position:0 -947px;}
.h_blmbox span.h_blmbox_dt6{background-position:0 -897px;}
.h_blmbox_more a{margin:0 8px;}
.tartxt{position:absolute;margin-top:116px;background-color:#ffffff;padding:3px;width:284px;height:136px;font-weight:bold;height:20px;line-height:20px;overflow:hidden;text-align:center;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.h_slmbox{}.h_slmbox{background-position:0 -1305px;height:32px;line-height:32px;}
.h_slmbox span.h_slmbox_dt4,.h_slmbox span.h_slmbox_dt5,.h_slmbox span.h_slmbox_dt6{height:32px;width:108px;font-family:"微软雅黑","黑体";display:block;padding-left:6px;background-repeat:no-repeat;}
.h_slmbox span.h_slmbox_dt4{background-position:0 -1198px;}
.h_slmbox span.h_slmbox_dt5{background-position:0 -1234px;}
.h_slmbox span.h_slmbox_dt6{background-position:0 -1270px;}
.ha_fcds_fcdsul{padding:0 0 0 15px;}
.ha_fcds_fcdsul li{width:142px;height:170px;float:left;margin:14px 15px 10px 0;display:inline;}
.ha_fcds_fcdsul_p1{width:142px;height:98px;position:relative;}
.mb_xx{width:138px;height:94px;position:absolute;display:none;cursor:pointer;}
.mb_x1{width:130px;height:74px;position:absolute;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;z-index:100;background-color:#DD780F;padding:20px 0 0 8px;color:White;}
.ha_fcds_fcdsul_p1 a img{width:138px;height:94px;border:1px solid #b7dcf1;padding:1px;background:#fff;}
.ha_fcds_fcdsul_p2{height:26px;line-height:26px;text-align:center;}
.ha_fcds_fcdsul_p3{height:20px;line-height:20px;}.ha_fcds_fcdsul_p3r{color:#F00;}
.ha_fcds_fcdsul_p3l,.ha_fcds_fcdsul_p3r{float:left;}
.ha_fcds_fcdsul_p3l{width:84px;text-align:center;color:#FF0000;}
.ha_fcds_fcdsul_p2 a,.ha_fcds_fcdsul_p2 a:visited{color:#086aa7;}
.ha_fcds_fcdsul_p4{height:20px;line-height:20px;margin-top:4px;}
.ha_fcds_fcdsul_p4l{width:60px;text-align:left;color:#464646;}
.h_gfhelpdiv{margin-top:10px;height:102px;}.h_gfhelpdiv img{width:100px;height:100px;margin:0 14px 0 4px;float:left;}
.h_gfhelpdiv p{line-height:28px;color:#999;}
.h_gfhelpbtn b{display:block;cursor:pointer;width:101px;height:31px;background-position:0 -1570px;margin:8px 40px 0 0;}
.h_gftool1 b,.h_gftool2 b,.h_gftool3 b,.h_gftool4 b{display:block;cursor:pointer;width:107px;height:33px;}
.h_gftool1 b{background-position:0 -1499px;}
.h_gftool2 b{background-position:-108px -1499px;}
.h_gftool3 b{background-position:0 -1533px;}
.h_gftool4 b{background-position:-108px -1533px;}
.h_imgul1{}.h_imgul1 li{float:left;height:90px;display:inline;margin:12px 0 0 18px;text-align:center;}.h_imgul1 li a img{width:110px;height:64px;}
.h_ttdiv{border-bottom:1px solid #d1d1d1;height:31px;line-height:31px;}.h_ttdivt{font-size:22px}
.h_ttdivtbox{border-bottom:1px dashed #d1d1d1;padding-bottom:10px;}
.h_ttdivtbox_t{text-align:center;height:44px;line-height:44px;}
.h_be_fl_ss{margin-top:10px;}
.h_be_fl_ss,.h_sydc_qss_box{width:300px;}
.h_sydc_qss_box{border-bottom:1px dashed #d1d1d1;clear:both;}
.h_be_fl_ss .h_sydc_qss_box{height:auto;line-height:26px;}.h_sydc_qss_box span{height:26px;line-height:26px;}
.h_sydc_qss_box ul li,.h_sydc_qss_box span{float:left;}
.h_sydc_qss_box ul li{margin:0 4px;white-space:nowrap;}
.h_imgul2{padding:0 0 0 15px;}
.h_imgul2 li{width:142px;height:166px;float:left;margin:14px 15px 5px 0;display:inline;text-align:center;}
.h_imgul2_p1{width:142px;height:96px;}
.h_imgul2_p1 a img{width:138px;height:94px;}
.h_imgul3{}
.h_imgul3 li{width:184px;height:158px;float:left;margin:14px 15px 4px 15px;display:inline;text-align:center;}
.h_imgul3_p1{width:184px;height:110px;position:relative;}
.h_imgul3_p1 a img{width:180px;height:108px;}
.h_imgul4{}
.h_imgul4 li{height:184px;}
.h_imgul5{}
.h_imgul5 li{float:left;height:110px;width:114px;display:inline;margin:12px 12px 0;text-align:center;}.h_imgul5 li a img{width:114px;height:84px;}
.h_imgul6{}.h_imgul6 li{float:left;height:104px;width:80px;display:inline;margin:12px 10px 0;text-align:center;}.h_imgul6 li a img{width:80px;height:80px;}
.h_lpyhul li{height:20px;margin:12px 0;}
.h_lpyhul_l{width:190px;float:left;height:20px;line-height:20px;}.h_lpyhul_r{width:68px;float:left;height:20px;line-height:20px;}
.h_lpyhul_bg{display:block;width:86px;height:20px;background-position:0 -1610px;color:#F00;overflow:hidden;float:left;text-align:center;margin-right:6px;}
.h_lpyhul_txt{height:20px;line-height:20px;overflow: hidden;float: left;width: 90px;}
.h_fqlpul{margin:8px 0px;}
.h_fqlpul li{width:310px;float:left;margin:0 11px;}
.h_fqlpulr{width:196px;}
.h_sxbtbox{height:106px;padding-bottom:10px;}.h_sxbtbox a.h_sxbtboximg1 img{width:164px;height:106px;margin:0 12px 0 0;}.h_sxbtbox a.h_sxbtboximg2 img{width:164px;height:106px;margin:0 0 0 12px;}
.h_sxbssdiv{height:38px;}
.h_sxbssdiv .sstextbox_s{height:23px;background:#fff url(images/hssbg2.gif) right no-repeat;padding:0 15px 0 8px;line-height:23px;font-size:12px;position:relative;border:1px solid #9dacc7;margin-left:4px;}
.h_sxbssdiv .sstextbox_stext{height:23px;line-height:23px;font-size:12px;}
.h_sxbssdiv .sstextbox_s_list{top:23px;z-index:99;}.h_sxbssdiv .ssbtns{float:left;display:block;width:97px;height:25px;background-position:-205px -35px;cursor:pointer;}
.h_fqlpul2{width:270px;height:76px;margin:8px 11px 6px;float:left;padding-right:20px;}
.h_fqlpul2r{width:156px;}.h_fqlpul2rrdb{border-right:1px dashed #d1d1d1;}
.h_hotezul{width:284px;}.h_hotezul span.h_hotezul_l,.h_hotezul li span.h_hotezul_l{width:190px;display:block;height:26px;line-height:26px;float:left;}
.h_ezbtnbox,.h_ezbtndiv{height:140px;}
.h_ezbtndiv{width:90px;}
.h_ezbtndiv_tbtn label{display:block;cursor:pointer;width:90px;height:22px;color:#fff;text-align:center;background-position:-79px -168px;line-height:22px;margin:10px 0 0; }
.h_ezbtndiv a.h_ezbtndiv_tbtn{text-decoration:none;}.h_ezbtndiv a.h_ezbtndiv_tbtn label:hover{color:#FF0;}
.h_fcphlistdd{padding:12px 0 0 10px;height:300px;width:950px;}
.h_fcphlistdd div p.h_fcphlistt{background-position:0 -1167px;height:26px;font-size:14px;line-height:26px;padding-left:6px;font-weight:bold;margin:4px 0;font-family:"微软雅黑","黑体";}
.h_fcphlistdd div ul li span.fr{color:#999;width:34px;}
.h_fcphdiv14,.h_fcphdiv20,.h_fcphdiv26{height:300px;margin-right:14px;}
.h_fcphdiv14{width:140px}
.h_fcphdiv20{width:200px}
.h_fcphdiv26{width:260px}
.h_fcphlistdd div ul li{height:24px;line-height:24px;}
.h_fcphlistdd div.h_fcphdiv14 ul li a{width:80px;overflow:hidden;}
.h_fcphlistdd div.h_fcphdiv20 ul li a{width:140px;overflow:hidden;}
.h_fcphlistdd div.h_fcphdiv26 ul li a{width:200px;overflow:hidden;}
.h_fcphdivul{background-position:0 -1733px;background-repeat:no-repeat;padding-left:22px;}
.h_hzhb{width:946px;padding:0 0 8px 12px;float:left;_float:none;}
.h_hzhb li{float:left;width:107px;text-align:center;margin-right:10px;padding-top:8px;line-height:25px;}
.h_hzhb li img{border:1px solid #ccc;width:90px;height:40px;}
.foot{text-align:center;background:#f7f7f7;}
.footer1{border-bottom:2px solid #fff;background:#eaf2f7;height:36px;line-height:36px;}
.footer1 a{margin:0 12px;}
.footer2{padding:16px 0 40px;}.footer2 p{line-height:28px;}.footer2 a{margin:0 12px;}


#container {margin-top: 70px;}

/*div {border: 2px solid;}*/